# Django
SECRET_KEY=#секретный ключ, используемый для криптографических подписей.
DEBUG=#режим отладки. Включен (True), Выключен (False)

# Postgresql
NAME=#имя вашей базы данных.
USER=#имя пользователя PostgreSQL.
PASSWORD=#пароль пользователя PostgreSQL.
HOST=#адрес сервера базы данных.
PORT=#порт, на котором работает PostgreSQL, обычно 5432

# Сервис отправки писем
EMAIL_HOST=#адрес SMTP-сервера
EMAIL_HOST_USER=#адрес вашей электронной почты
EMAIL_HOST_PASSWORD=#пароль, сгенерированный в аккаунте вашей почты для доступа приложения к рассылке писем от вашего имени
EMAIL_PORT=#порт SMTP-сервера
EMAIL_USE_TLS=#включает использование TLS для шифрования соединения. Включен (True), Выключен (False)
EMAIL_USE_SSL=#включает использование SSL для шифрования соединения. Включен (True), Выключен (False)
EMAIL_BACKEND=#бэкенд для отправки писем

# Redis
REDIS_HOST=#URL указывающий на расположение Redis-сервера с используемым портом и номером используемой базой данны (от 1 до 15)
CACHE_ENABLED=#режим низкого уровня кэширования. Включен (True), Выключен (False)
