SECRET_KEY=#секретный ключ, используемый для криптографических подписей.

DEBUG=#режим отладки. Включен (True), Выключен (False)

NAME=#имя вашей базы данных.
USER=#имя пользователя PostgreSQL.
PASSWORD=#пароль пользователя PostgreSQL.
HOST=#адрес сервера базы данных.
PORT=#порт, на котором работает PostgreSQL, обычно 5432

EMAIL_HOST_USER=#адрес вашей электронной почты @mail.ru
EMAIL_HOST_PASSWORD=#пароль, сгенерированный в аккаунте вашей почты для доступа приложения к рассылке писем от вашего имени.

EMAIL_USER=#адрес вашей электронной почты на которую будет отправляться сообщение