{% extends 'blog/base.html' %}
{% load my_tags %}
{% block title %}Блог{% endblock %}

{% block content %}
{% include 'blog/header.html' %}

    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="col-lg-6 px-0">
                <h1 class="display-4 fst-italic">Блог интернет магазина</h1>
                <p class="lead my-3">
                    Несколько строк текста, образующих заголовок, информируют новых читателей
                    быстро и эффективно о том, что наиболее интересно в этом посте
                    содержание.
            </div>
        </div>
        <div class="row mb-2">
            {% for blog in blogs %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">{{ blog.created_at| date:"d F Y" }}</strong>
                            <h3 class="mb-0">{{ blog.heading }}</h3>
                            <div class="mb-1 text-body-secondary">{{ blog.number_views }}</div>
                            <p class="card-text mb-auto">
                                {{ blog.content|truncatechars:30 }}
                            </p>
                            <a href="{% url 'blog:article' blog.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">Перейти к статье
                                <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
<!--                            <img src="#" height="250" width="200">-->
                            <svg aria-label="Placeholder: Thumbnail"
                                 class="bd-placeholder-img"
                                 height="250"
                                 preserveAspectRatio="xMidYMid slice"
                                 role="img"
                                 width="200"
                                 xmlns="http://www.w3.org/2000/svg">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">Кратко о блоге</h3>
                <article class="blog-post">
                    <h2 class="display-5 link-body-emphasis mb-1">Правила публикации</h2>
                    <p class="blog-post-meta">February 18, 2026 by <a href="#">Mark</a></p>
                    <p>This blog post shows a few different types of content that’s
                        supported and styled with Bootstrap. Basic typography, lists,
                        tables, images, code, and more are all supported as expected.
                    </p>
                    <hr/>
                    <p>
                        This is some additional paragraph placeholder content. It has been
                        written to fill the available space and show how a longer snippet
                        of text affects the surrounding content. We'll repeat it often to
                        keep the demonstration flowing, so be on the lookout for this
                        exact same string of text.
                    </p>
                    <h2>Blockquotes</h2>
                    <p>This is an example blockquote in action:</p>
                    <blockquote class="blockquote">
                        <p>Quoted text goes here.</p>
                    </blockquote>
                    <p>
                        This is some additional paragraph placeholder content. It has been
                        written to fill the available space and show how a longer snippet
                        of text affects the surrounding content. We'll repeat it often to
                        keep the demonstration flowing, so be on the lookout for this
                        exact same string of text.
                    </p>
                    <h3>Example lists</h3>
                    <p>
                        This is some additional paragraph placeholder content. It's a
                        slightly shorter version of the other highly repetitive body text
                        used throughout. This is an example unordered list:
                    </p>
                    <ul>
                        <li>First list item</li>
                        <li>Second list item with a longer description</li>
                        <li>Third list item to close it out</li>
                    </ul>
                    <p>And this is an ordered list:</p>
                    <ol>
                        <li>First list item</li>
                        <li>Second list item with a longer description</li>
                        <li>Third list item to close it out</li>
                    </ol>
                    <p>And this is a definition list:</p>
                    <dl>
                        <dt>HyperText Markup Language (HTML)</dt>
                        <dd>
                            The language used to describe and define the content of a Web
                            page
                        </dd>
                        <dt>Cascading Style Sheets (CSS)</dt>
                        <dd>Used to describe the appearance of Web content</dd>
                        <dt>JavaScript (JS)</dt>
                        <dd>
                            The programming language used to build advanced Web sites and
                            applications
                        </dd>
                    </dl>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem">
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">About</h4>
                        <p class="mb-0">
                            Customize this section to tell your visitors a little bit about
                            your publication, writers, content, or something else entirely.
                            Totally up to you.
                        </p>
                    </div>
                    <div>
                        <h4 class="fst-italic">Recent posts</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                   href="#">
                                    <svg aria-hidden="true"
                                         class="bd-placeholder-img"
                                         height="96"
                                         preserveAspectRatio="xMidYMid slice"
                                         width="100%"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect width="100%" height="100%" fill="#777"></rect>
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">Example blog post title</h6>
                                        <small class="text-body-secondary">January 15, 2024</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                   href="#">
                                    <svg aria-hidden="true"
                                         class="bd-placeholder-img"
                                         height="96"
                                         preserveAspectRatio="xMidYMid slice"
                                         width="100%"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect width="100%" height="100%" fill="#777"></rect>
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">This is another blog post title</h6>
                                        <small class="text-body-secondary">January 14, 2024</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                   href="#">
                                    <svg aria-hidden="true"
                                         class="bd-placeholder-img"
                                         height="96"
                                         preserveAspectRatio="xMidYMid slice"
                                         width="100%"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect width="100%" height="100%" fill="#777"></rect>
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">
                                            Longer blog post title: This one has multiple lines!
                                        </h6>
                                        <small class="text-body-secondary">January 13, 2024</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">March 2025</a></li>
                            <li><a href="#">February 2026</a></li>
                            <li><a href="#">January 2026</a></li>
                            <li><a href="#">December 2025</a></li>
                            <li><a href="#">November 2025</a></li>
                            <li><a href="#">October 2025</a></li>
                            <li><a href="#">September 2025</a></li>
                            <li><a href="#">August 2025</a></li>
                            <li><a href="#">July 2025</a></li>
                            <li><a href="#">June 2025</a></li>
                            <li><a href="#">May 2025</a></li>
                            <li><a href="#">April 2025</a></li>
                        </ol>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://github.com/L-Ev-Vi/Project_4">GitHub</a></li>
                            <li><a href="#">Social</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
