{% extends 'blog/base.html' %}
{% load my_tags %}
{% block title %}Редактирование статьи{% endblock %}

{% block content %}
{% include 'blog/header.html' %}
<div class="pricing-header pt-md-1 pb-md-1 mx-auto text-center">
    <h5 class="display-5 p-0">Редактировать статью</h5>
</div>
<div class="container mt-0 p-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-md-9 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">Укажите новые данные статьи</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-lg btn-block btn-warning">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}