{% extends 'catalog/base.html' %}

{% block title %}Обратная связь{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="row justify-content-evenly mt-5 mb-5">
    <div class="col-5">
        <div class="card text-bg-dark">
          <img src="/media/images/a.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <h5 class="card-title" style="color: black;">Товар добавлен, всё ОК!</h5>
                </div>
              </div>

          </div>
        </div>
    </div>
</div>
{% endblock %}